*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin:  0;
    font-family: "Roboto", sans-serif;
}

/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.loader {
  width: 7em;
  height: 5em;
  position: relative;
  animation: beat 1s infinite;
  z-index: 1; 
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 5em 5em 0 0;
  animation: coldblue 1s infinite;
  z-index: 2; 
}

.loader::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.loader::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -70%);
  font-weight: bold;
  font-size: 12px;
  color: black; 
  animation: textColorChange 1s infinite;
  z-index: 3; 
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes coldblue {
  0%, 100% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: #ff1f1f;
  }
}

@keyframes textColorChange {
  0%, 100% {
    color: black;
  }
  50% {
    color: white;
  }
}
/*** Spinner End ***/

.back-to-top {
    display: none;  /* Ensure the button is hidden initially */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: #fff;
    border: none;
    background: #ff1f1f;
}

.btn.btn-primary:hover {
    color: #ff1f1f;
    background: #fff;
}

.btn.btn-light {
    color: #fff;
    background: #ff1f1f;
    border: none;
}

.btn.btn-light:hover {
    color:#ff1f1f;
    background: #fff;
}

.section-header {
    color: #ff1f1f;
    font-weight: 500;
}

.about, .portals, .rev {
    background: #f3f1f1dd;
}

.goal-top {
    box-shadow: -8px -8px 0px #ff1f1f;
}

.goal-bottom {
    box-shadow: 8px 8px 0px #ff1f1f;
}


.breadcrumb-item.active {
     color: #ff1f1f;
}

a {
    text-decoration: none;
}

input {
    border-radius: 5px;
    border: 1px solid #aaa !important;
}

input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1.5px solid #1a73e8 !important;
}

input.is-valid, select.is-valid {
    border: 1.5px solid #06b400 !important;
}

input.is-invalid, select.is-invalid {
    border: 1.5px solid #ff0000 !important; 
}
/*** Navbar ***/

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active,  
.navbar-light .navbar-nav .nav-link.active {
    color: #ff1f1f;
    
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ff1f1f;
    font-weight: 700;

}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: #ff1f1f;
    color: #fff;
}

.dropdown-item.active {
    background: #ff1f1f;
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #fff;
        padding: 10px 20px;
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid #ff1f1f;
        color: #ff1f1f;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark);
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        color: var(--bs-dark);
    }

    .navbar-light .navbar-brand h1 {
        color: #ff1f1f;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {

    .navbar-light .navbar-nav .nav-link {
        font-family: 'Roboto', sans-serif;
        position: relative;
        margin-right: 25px;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        outline: none;
        transition: .5s;
        padding: 5px !important;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 15px 0 !important;
    color: #DDDDDD;
}

    .sticky-top.navbar-light .navbar-nav .nav-link:hover,
    .sticky-top.navbar-light .navbar-nav .nav-item .nav-link:hover,
    .sticky-top.navbar-light .navbar-nav .nav-link.active,
    .sticky-top.navbar-light.navbar-light .navbar-brand h1 {
        color: #fff;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }

    .navbar-light .navbar-brand img {
        max-height: 60px;
        transition: .5s;
    }
    

    .sticky-top.navbar-light .navbar-brand img {
        max-height: 45px;
    }
    

    .navbar-light .navbar-brand h1 {
        color: #ff1f1f;
    }
    
    .sticky-top.navbar-light .navbar-brand h1 {
            font-size: 30px;
    }

    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
        padding: 5px 40px !important;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #b92f2f;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.396) !important;
        padding: 0 40px !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -18px;
        left: 50%;
        background: #ff1f1f;
        transition: .5s;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: #ffffff;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .sticky-top.navbar-light .navbar-collapse .btn.btn-primary {
        color: #ff1f1f;
        border: none;
        background: #fff;;
    }
    
    .sticky-top.navbar-light .navbar-collapse .btn.btn-primary:hover {
        color: #fff;
        background: #ff1f1f;
    }

}


/*** Navbar End ***/

/*** Carousel Hero Header Start ***/

.header-carousel{
   background: #1B2A5F;
}

.header-carousel .header-carousel-item img {
    object-fit: cover;
}

.header-carousel .header-carousel-item {
 clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%); 
}


.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
        height: 780px;
}


.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: var(--bs-primary);
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 30px;
    margin-left: 90px;
}
.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    left: 30px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-light);
    color: var(--bs-primary);
}


.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.775);
    display: flex;
    align-items: center;
}

.header-carousel .header-carousel-item .carousel-caption .carousel-header {
    color: #ff1f1f;
    font-weight: 700;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        padding-top: 45px;
    }
}

@media (max-width: 767px) {
    .header-carousel .owl-nav .owl-prev {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -45px;
    }


    .header-carousel .owl-nav .owl-next {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 45px;
    }
}


.header-carousel .header-carousel-item img {
    animation-name: image-zoom;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0%  {height: 100%; opacity: 0.9;}

    25% {height: 110%; opacity: 0.50;}

    50% {height: 115%; opacity: 1;}

    75% {height: 110%; opacity: 0.50;}

    100% {height: 100%; opacity: 0.9;}
}

/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/hero-2.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 60px 0;
    transition: 0.5s;
     clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%); 
}

@media (min-width: 992px) {
    .bg-breadcrumb {
        padding: 140px 0 60px 0;
    }
}

@media (max-width: 991px) {
    .bg-breadcrumb {
        padding: 60px 0 60px 0;
    }
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: #fff;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a:hover {
    color: #ff1f1f;
}

/*** Single Page Hero Header End ***/


/*** Service Start ***/
.service .service-item {
    background: var(--bs-light);
    border-radius: 10px;
    transition: 0.5s;
  height: 100%;
}

.service .service-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.2);
}

.input-group {
    position: relative;
    width: 300px;
}

.login-input {
    border: solid 1.5px #9e9e9e;
    background: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding-right: 2.5rem; /* Add space for the toggle button */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust position relative to input */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #9e9e9e;
    font-size: 1.2rem;
    outline: none;
}

.toggle-password:focus {
    color: #2196f3; /* Optional focus effect */
}

.user-label {
    position: absolute;
    left: 15px;
    color: #787878;
    pointer-events: none;
    transform: translateY(8px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-input:focus ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #2196f3 !important;
}

.login-input:valid ~ .user-label {
    color: #06b400 !important;
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
}

.login-input.is-invalid ~ .user-label {
    color: #ff1f1f !important; 
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
}


/*** Service End ***/


/*** Features Start ***/
.feature .feature-item {
    text-align: center;
    border-radius: 10px;
    background: var(--bs-light);
    border: 1px solid transparent;
    transition: 0.5s;
}

.feature .feature-item:hover {
    border: 1px solid var(--bs-primary);
}

.feature .feature-item .feature-icon {
    background: #fff;
    border-radius: 10px;
    display: inline-block;
}
/*** Features End ***/


/*** Blog Start ***/
.blog .blog-item {
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 45px rgba(0, 0, 0, .1);
    transition: 0.5s;
    border: 1px solid #ff1f1f;
}

.blog .blog-item:hover a:hover {
    color: #ff1f1f;
    text-decoration: underline;
}

.blog .blog-item .blog-img {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    padding: 10%;
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0, 208, 132, 0.1);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.blog .blog-item:hover .blog-img::after {
    opacity: 1;
}

.blog-carousel .owl-stage-outer {
    margin-top: 58px;
}


/* owl btn */

.blog .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    left: 0;
    background:#ff1f1f;
    color: #fff;
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.blog .owl-nav .owl-prev:hover {
    background:var(--bs-white);
    color: #ff1f1f;
    border: 1px solid #DDDDDD;
}

.blog .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 0;
    background:#ff1f1f;
    color: #fff;
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.blog .owl-nav .owl-next:hover {
    background:var(--bs-white);
    color: #ff1f1f;
    border: 1px solid #DDDDDD;
}

/* owl end btn */


/*--------------------------------------------------------------
# More News Details
--------------------------------------------------------------*/
.blog .blog-details {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.blog .blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .blog-details .title {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 20px 0 0 0;
  color: var(--color-secondary);
}

.blog .blog-details .content {
  margin-top: 20px;
}

.blog .blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .blog-details .content blockquote {
  overflow: hidden;
  background-color: rgba(82, 86, 94, 0.06);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .blog-details .content blockquote p {
  color: #364d59;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #ff1f1f;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*--------------------------------------------------------------
# News Sidebar
--------------------------------------------------------------*/
.blog .sidebar {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #52565e;
}

.blog .sidebar .sidebar-item+.sidebar-item {
  margin-top: 40px;
}

.blog .sidebar .recent-posts .post-item {
  display: flex;
}

.blog .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  max-width: 80px;
  margin-right: 15px;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #52565e;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #ff1f1f;
}

.blog .sidebar .recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: rgba(54, 77, 89, 0.4);
}


/*** Blog End ***/


/*** FAQs Start ***/
.faq-section .accordion .accordion-item .accordion-header .accordion-button {
    color: var(--bs-secondary);
}

.faq-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    color: var(--bs-dark);
}
/*** FAQs End ***/


/*** Testimonial Start ***/
.testimonial .testimonial-item {
    position: relative;
    margin-bottom: 30px;
    padding: 0 25px 25px 25px;
}

.testimonial .testimonial-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: var(--bs-light);
    z-index: -1;
}

.testimonial .testimonial-item .testimonial-img {
    display: flex;
    justify-content: center;
}

.testimonial .testimonial-item .testimonial-img img {
    width: 100px; 
    height: 100px;
    border-radius: 100px;
    border: 5px solid var(--bs-light);
    border-style: double;
    background: #fff;
}

.testimonial .testimonial-item .testimonial-text {
    padding: 25px 0;
    text-align: center;
}

.testimonial .testimonial-item .testimonial-title {
    display: flex;
    justify-content: space-between;
}

.testimonial .testimonial-item  .testimonial-quote-left {
    position: absolute;
    width: 60px; 
    height: 60px;
    top: 20px;
    left: 25px;
    border-radius: 60px;
    color: var(--bs-dark);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .testimonial-item  .testimonial-quote-right {
    position: absolute;
    width: 60px; 
    height: 60px;
    bottom: -30px;
    right: 25px;
    margin-top: -5px;
    border-radius: 60px;
    color: var(--bs-dark);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-stage-outer {
    margin-top: 58px;
    margin-right: -1px;
}

/* owl btn */

.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    left: 0;
    background:#ff1f1f;
    color: #fff;
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background:var(--bs-white);
    color: #ff1f1f;
    border: 1px solid #DDDDDD;
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 0;
    background:#ff1f1f;
    color: #fff;
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background:var(--bs-white);
    color: #ff1f1f;
    border: 1px solid #DDDDDD;
}

/* owl end btn */

/*** Testimonial End ***/


/*** Footer Start ***/
.footer {
    background: #393939;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: #787878;
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
    color: #787878;
}

.footer .footer-item a:hover {
    color: #ff1f1f;
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: #fff;
}

.footer .footer-item .footer-btn a:hover i {
    color: #ff1f1f;
}
/*** Footer End ***/


/*** copyright Start ***/
.copyright {
    background: #212529;
    color: #787878;
}
/*** copyright end ***/



/*** Registration Start**/

.container form{
    display: flex;
    justify-content: center;
}

.container .register-form {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.316);
}

.container form .title{
    display: block;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
    border-bottom: solid 1px #333;
    color: #333;
}

 .fields{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px auto;
}
.input-field{
    display: flex;
    width: calc(100% / 3 - 130px);
    flex-direction: column;
    margin: 4px 0;
     position: relative;
}

.toggle-password.icon-toggle {
    position: absolute;
    right: 8px; /* Position the icon to the right */
    top: 68%;
    transform: translateY(-50%); /* Vertically center the icon */
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field .r-input, select{
     width: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 40px 0 8px;
    height: 42px;
    margin: 4px 0;;
    
}
.input-field .r-input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field .r-input[type="date"]{
    color: #707070;
}
.input-field .r-input[type="date"]:valid{
    color: #333;
}

.error {
    color: red !important; 
    font-size: 12px !important; 
    font-weight: 500; 
    margin: 0; 
    position: absolute; 
    top: 100%;
    width: 100%; 
    text-align: center;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

/*** Registration End**/

/* Photo*/

.video-container {
    position: relative;
    width: 300px;
    height: 250px;
    border: 1px solid #2e2e2e;
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  
  #overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
  }
  
  #timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    background:  rgb(4, 203, 60);
    color: white;
    display: none;
    padding: 4px;
  }
  
  #preview {
    border: 1px solid #2e2e2e;
    width: 300px;
    height: 250px;
  }
  
/*Photo end*/


/*More About Donation*/

.about h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-secondary);
  margin: 30px 0;
}

@media (min-width: 991px) {
  .about h2 {
    max-width: 65%;
    margin: 0 0 40px 0;
  }
}

.about .our-story {
  padding: 40px;
  background-color: #f5f6f7;
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about .our-story h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #838893;
}

.about .our-story h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.about .our-story p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 20px;
  margin-right: 4px;
  color: var(--color-primary);
}

.about .watch-video i {
  font-size: 32px;
  transition: 0.3s;
  color: var(--color-primary);
}

.about .watch-video:hover a {
  color: var(--color-primary);
}

.about .about-img {
  min-height: 600px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff1f1f;
  left: 0;
  bottom: 0;
}

.alt-services .icon-box {
  margin-top: 50px;
}

.alt-services .icon-box svg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  margin-right: 25px;
  font-size: 12px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #ff1f1f;
  transition: 0.3s;
  padding: 6px;
}

.alt-services .icon-box:hover svg {
  background-color: #fff;
  color: #ff1f1f;
}


.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.alt-services .icon-box h4 a:hover {
  color: #ff1f1f;
}

.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*** Offer Start ***/
.offer-section .nav a.accordion-link {
    width: 100%;
    border-radius: 10px;
    display: flex;
    background: var(--bs-white);
    transition: 0.5s;
    color: #000 ;
}

.offer-section .nav a.accordion-link.active {
    color: var(--bs-white);
    background: #ff1f1f;
}

.offer-section .nav a.accordion-link h5 {
    transition: 0.5s;
}

.offer-section .nav a.accordion-link.active h5 {
    color: var(--bs-white);
}
/*** Offer End ***/

/* Alert */

.alert-success {
    color: #fff;
     border-color: #539753;
    background-color: #8fbf2f;
    font-size: 18px;
}


.alert-error {
    color: #fff;
    border-color: #dc4a4d;
    background-color: #f25c5d;
    font-size: 18px;
}

.alert-error ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 5px;
    font-size: 18px;
}




