<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/vendor/bootstrap-5.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/admin_login.css">
  <title>Admin Login</title>
</head>

<body>

  <section class="vh-100 login-section">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card login-card">

            <div class="card-body p-4 p-lg-4 text-black d-flex justify-content-center">

              <form>

                <div class="d-flex align-items-center justify-content-center  mb-3 pb-1">
                  <img src="../assets/img/systemLogo.png" alt="" class="me-3 logo-icon">
                  <span class="h1 fw-bold mb-0">Admin Login</span>
                </div>

                <!-- <h5 class="fw-normal mb-3 pb-3">Login Admin Account</h5> -->

                <div class="input-group mb-3">
                  <input type="text" name="username" autocomplete="off" class="input" id="username" required>
                  <label class="user-label" for="username">Username</label>
                </div>

                <div class="input-group mb-3">
                  <input type="password" name="password" autocomplete="off" class="input" id="password" required>
                  <label class="user-label" for="password">Password</label>
                </div>

                <div class="d-flex justify-content-end m">
                  <button class="btn btn-secondary" type="button">Cancel</button>
                  <button class="btn btn-danger" type="button">Search</button>
                </div>

                <div class="d-flex justify-content-center">
                  <a class="small text-muted" href="#">Forgot password?</a>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>



  <script src="../assets/vendor/bootstrap-5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>